<!-- Primary menu-->
<ul class="navbar-nav">
  <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Home</a>
    <ul class="dropdown-menu">
      <li class="dropdown position-static mb-0"><a class="dropdown-item py-2 border-bottom" routerLink="/home-fashion-v1"><span class="d-block text-heading">Fashion Store v.1</span><small class="d-block text-muted">Classic shop layout</small></a>
        <div class="dropdown-menu h-100 animation-0 mt-0 p-3"><a class="d-block" routerLink="/home-fashion-v1" style="width: 250px;"><img src="assets/img/home/preview/th01.jpg" alt="Fashion Store v.1"/></a></div>
      </li>
      <li class="dropdown position-static mb-0"><a class="dropdown-item py-2 border-bottom" routerLink="/home-fashion-v2"><span class="d-block text-heading">Fashion Store v.2</span><small class="d-block text-muted">Slider + Featured categories</small></a>
        <div class="dropdown-menu h-100 animation-0 mt-0 p-3"><a class="d-block" routerLink="/home-fashion-v2" style="width: 250px;"><img src="assets/img/home/preview/th02.jpg" alt="Fashion Store v.2"/></a></div>
      </li>
      <li class="dropdown position-static mb-0"><a class="dropdown-item py-2 border-bottom" routerLink="/home-electronics"><span class="d-block text-heading">Electronics Store</span><small class="d-block text-muted">Classic shop layout</small></a>
        <div class="dropdown-menu h-100 animation-0 mt-0 p-3"><a class="d-block" routerLink="/home-electronics" style="width: 250px;"><img src="assets/img/home/preview/th03.jpg" alt="Electronics Store"/></a></div>
      </li>
      <li class="dropdown position-static mb-0"><a class="dropdown-item py-2" href="#"><span class="d-block text-heading">Marketplace</span><small class="d-block text-muted">Multi-vendor, digital goods</small></a>
        <div class="dropdown-menu h-100 animation-0 mt-0 p-3"><a class="d-block" href="#" style="width: 250px;"><img src="assets/img/home/preview/th04.jpg" alt="Marketplace"/></a></div>
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Shop</a>
    <div class="dropdown-menu p-0">
      <div class="d-flex flex-wrap flex-md-nowrap px-2">
        <div class="mega-dropdown-column py-4 px-3">
          <div class="widget widget-links mb-3">
            <h6 class="font-size-base mb-3">Shop layouts</h6>
            <ul class="widget-list">
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Shop Grid - Left Sidebar</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Shop Grid - Right Sidebar</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Shop Grid - Filters on Top</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Shop List - Left Sidebar</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Shop List - Right Sidebar</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Shop List - Filters on Top</a></li>
            </ul>
          </div>
          <div class="widget widget-links">
            <h6 class="font-size-base mb-3">Marketplace</h6>
            <ul class="widget-list">
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Category Page</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Single Item Page</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Vendor Page</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Cart</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Checkout</a></li>
            </ul>
          </div>
        </div>
        <div class="mega-dropdown-column py-4 px-3">
          <div class="widget widget-links">
            <h6 class="font-size-base mb-3">Shop pages</h6>
            <ul class="widget-list">
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Shop Categories</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Product Page v.1</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Product Page v.2</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Cart</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Checkout - Details</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Checkout - Shipping</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Checkout - Payment</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Checkout - Review</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Checkout - Complete</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Order Tracking</a></li>
              <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Product Comparison</a></li>
            </ul>
          </div>
        </div>
        <div class="mega-dropdown-column py-4 pr-3"><a class="d-block" href="#"><img src="assets/img/shop/menu-banner.jpg" alt="Promo banner"/></a></div>
      </div>
    </div>
  </li>
  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Account</a>
    <ul class="dropdown-menu">
      <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Shop User Account</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Orders History</a></li>
          <li><a class="dropdown-item" href="#">Profile Settings</a></li>
          <li><a class="dropdown-item" href="#">Account Addresses</a></li>
          <li><a class="dropdown-item" href="#">Payment Methods</a></li>
          <li><a class="dropdown-item" href="#">Wishlist</a></li>
          <li><a class="dropdown-item" href="#">My Tickets</a></li>
          <li><a class="dropdown-item" href="#">Single Ticket</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Vendor Dashboard</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Purchases</a></li>
          <li><a class="dropdown-item" href="#">Favorites</a></li>
          <li><a class="dropdown-item" href="#">Sales</a></li>
          <li><a class="dropdown-item" href="#">Products</a></li>
          <li><a class="dropdown-item" routerLink="/add-new-product">Add New Product</a></li>
          <li><a class="dropdown-item" href="#">Payouts</a></li>
        </ul>
      </li>
      <li><a class="dropdown-item" href="#">Sign In / Sign Up</a></li>
      <li><a class="dropdown-item" href="#">Password Recovery</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Pages</a>
    <ul class="dropdown-menu">
      <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Navbar Variants</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">1 Level Light</a></li>
          <li><a class="dropdown-item" href="#">1 Level Dark</a></li>
          <li><a class="dropdown-item" href="#">2 Level Light</a></li>
          <li><a class="dropdown-item" href="#">2 Level Dark</a></li>
          <li><a class="dropdown-item" href="#">3 Level Light</a></li>
          <li><a class="dropdown-item" href="#">3 Level Dark</a></li>
          <li><a class="dropdown-item" href="#">Electronics Store</a></li>
          <li><a class="dropdown-item" href="#">Marketplace</a></li>
        </ul>
      </li>
      <li class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">About Us</a></li>
      <li><a class="dropdown-item" href="#">Contacts</a></li>
      <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Help Center</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Help Topics</a></li>
          <li><a class="dropdown-item" href="#">Single Topic</a></li>
          <li><a class="dropdown-item" href="#">Submit a Request</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">404 Not Found</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">404 - Simple Text</a></li>
          <li><a class="dropdown-item" href="#">404 - Illustration</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Blog</a>
    <ul class="dropdown-menu">
      <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Blog List Layouts</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">List with Sidebar</a></li>
          <li><a class="dropdown-item" href="#">List no Sidebar</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Blog Grid Layouts</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Grid with Sidebar</a></li>
          <li><a class="dropdown-item" href="#">Grid no Sidebar</a></li>
        </ul>
      </li>
      <li><a class="dropdown-item" href="#">Single Post</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Docs / Components</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">
        <div class="d-flex">
          <div class="lead text-muted pt-1"><i class="czi-book"></i></div>
          <div class="ml-2"><span class="d-block text-heading">Documentation</span><small class="d-block text-muted">Kick-start customization</small></div>
        </div></a></li>
      <li class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">
        <div class="d-flex">
          <div class="lead text-muted pt-1"><i class="czi-server"></i></div>
          <div class="ml-2"><span class="d-block text-heading">Components<span class="badge badge-info ml-2">40+</span></span><small class="d-block text-muted">Faster page building</small></div>
        </div></a></li>
      <li class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">
        <div class="d-flex">
          <div class="lead text-muted pt-1"><i class="czi-edit"></i></div>
          <div class="ml-2"><span class="d-block text-heading">Changelog<span class="badge badge-success ml-2">v1.2</span></span><small class="d-block text-muted">Regular updates</small></div>
        </div></a></li>
      <li class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="mailto:contact@createx.studio">
        <div class="d-flex">
          <div class="lead text-muted pt-1"><i class="czi-help"></i></div>
          <div class="ml-2"><span class="d-block text-heading">Support</span><small class="d-block text-muted">contact@createx.studio</small></div>
        </div></a></li>
    </ul>
  </li>
</ul>
